
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
/*menu*/
header{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background: #730000;
    margin-bottom: 50px;
    
}
 
img {
    width: 130px;
    height:130px;
    float:left;
    border-radius: 50%;
}
 
header nav {
    float:right;
    line-height:130px;
}
 

 
header nav a {
    display:inline-block;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    font-size:20px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}
 
header nav a:hover {
    background:#500000;
    border-radius:50px;
}
/*section*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);



.card {
  margin: 8px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fafafa;
  width: 800px;
}
/*.card:hover {
  cursor: pointer;
}*/
.card__image {
  position: absolute;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repat;
  width: 800px;
  height: 800px;
  overflow: hidden;
  display: block;
  opacity: 0;
}
.card__image:after {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  bottom: 0;
}
.card__title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 24px;
  color: #FFF;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 16px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card__text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
  display: block;
  left: 0;
  right: 0;
  top: 100px;
  padding: 16px;
  margin: 0;
  line-height: 1.6;
  position: absolute;
  color: #000;
  overflow: hidden;
  -webkit-transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: delay 0.1s;
  transition: delay 0.1s;
}
.card__action-bar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  padding: 0 8px;
  border-top: 1px solid #E0E0E0;
  boz-sizing: border-box;
  height: 52px;
  -webkit-transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__button {
  outline: none;
  position: relative;
  display: inline-block;
  line-height: 52px;
  padding: 0 16px;
  color: #FF1744;
    cursor: pointer;
}
.card--big {
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  height: 400px;

}
.card--big .card__image {
  border-radius: 1px 1px 0 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  max-height: 219px;
}
.card--big .card__title {
  top: 190px;
}
.card--big .card__text {
  top: 236px;
}
.card--big .card__action-bar {
  left: 0;
}
.card--big .card__action-bar a{
     text-decoration:none;
}
